.slots {
    position: relative;
    width: calc(3.5 * 79px);
    height: calc(3 * 79px);
    display: flex;
    justify-content: space-between;
    padding: calc(0.3 * 79px);
    background: linear-gradient(45deg, grey 0%, lightgray 100%);
    border-radius: 3px;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
  }
  
  .debug {
    position: fixed;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-family: monospace;
    font-size: 1.6rem;
  }
  
  .win1 {
    animation: win1 200ms steps(2, end) infinite;
  }
  
  .win2 {
    animation: win2 200ms steps(2, end) infinite;
  }
  
  @keyframes win1 {
    0% {
      background: linear-gradient(45deg, orange 0%, yellow 100%);
      box-shadow: 0 0 80px orange;
    }
    100% {
      background: linear-gradient(45deg, grey 0%, lightgray 100%);
      box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
    }
  }
  
  @keyframes win2 {
    0% {
      background: linear-gradient(45deg, lightblue 0%, lightgreen 100%);
      box-shadow: 0 0 80px lightgreen;
    }
    100% {
      background: linear-gradient(45deg, grey 0%, lightgray 100%);
      box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
    }
  }
  